*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    background-color: hsl(216, 50%, 16%) ;
    width: 360px;
    height: 590px;   
    padding: 20px;
    border-radius: 15px;
    margin-top: 70px;

}

/* PHOTO*/
#photo{
    text-align: left;
    color: hsl(215, 51%, 70%);
}

#photo img{
    width: 320px;
    border-radius: 15px;
    margin-bottom: 15px;
}

#photo h1 {
    margin-bottom: 10px;
    color: white;
}


/*DETAILS*/

#details{
    display: flex;
    justify-content: space-between;
}
#ETH{
    display: flex;
    align-items: center;
}

#ETH p{
    margin-left: 10px;
    color: hsl(178, 100%, 50%);
}

#time{
    display: flex;
    align-items: center;
}

#time p{
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
}

hr{
    border: 1px solid;
    color: hsl(215, 32%, 27%);
}
/*PROFILE*/

#avatar img{
    width: 40px;
    border: 1px solid white;
    border-radius: 20px;
}

#avatar{
    display: flex;
    align-items: center;
    padding-bottom: 20px;

}

#avatar{
    color: hsl(215, 51%, 70%);
}

.text{
    display: flex;
    margin-left: 20px;
}
.text .bold{
    color:white;
    padding-left: 5px;
}

.attribution{
    margin-top: 30px;
    font-size: 11px; 
    text-align: center;
    color: white;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
